body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: black;

}

.timer-display {
  text-align: center;
  margin-top: -10%;
  font-size: 50px;
  color: #FF9500;

}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -15%;
}

.hide {
  display: none;
}

.edit-button,
.reset-button,
.start-button,.stop-button {

  font-size: 25px;
  height: 50px;
  width: 120px;
  border-radius: 4px;
  cursor: pointer;
  border: none;

}
.edit-button{
  background-color: #00A1F7;
  color: white;
}
.reset-button{
  background-color: #FBB629;
  color: white;
}
.start-button{
  background-color: #59B87E;
  color: white;
}
.stop-button{
  background-color: #F17979;
  color: white;

}

.input-card {



  background-color: #5f5f5f;
  height: 300px;
  width: 500px;
  animation: fadeIn 0.5s ease-in-out forwards;
  
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.div-h1{
  background-color: #484848;
  color: white;
  font-weight: 600;
  width: 98%;
  height: 50px;
  padding-left: 10px;
  margin-top: 0%;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.box-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  gap: 20px;

}

input[type='number'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 270px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.start-btn{
  width: 80px;
  height: 35px;
  border: none;
  background-color: green;
  color: white;
  font-size: 16px;
}